.home {
    height: 100%;
    width: 100%;
    display: block;
    background-color: #111827;
}

.home-title {
    position: absolute;
    color: white;
    font-size: 2em;
    left: 50%;
    top: 8%;
    transform: translate(-50%, -50%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
    font-weight: 700;
    font-size: 1.3rem;
    text-transform: uppercase;
    text-shadow: 1px 1px #BE00FF;
}

.home-carousel {
    position: relative;
    z-index: 1;
    background-color: #111827;
    border-bottom: #BE00FF 1.5px solid;
}

.slide-1 {
    display: flex;
    max-width: 100%;
    height: auto;
    margin-top: 12%;
}

@media (min-width:1024px) {
    .products-grid-root {
        max-width: 70%;
        height: auto;
        display: flex;
        flex-flow: column wrap;
        margin: 0 auto;
        margin-top: 0.1%;
        margin-bottom: -0.2%;
        padding: 20px 0px 0px 50px;
        border-radius: 10px;
        background-color: #0c111b;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }

    .home-title {
        max-width: 70%;
    }
  
    .home-carousel {
        z-index: 1;
        background-color: #111827;
        border-bottom: 0px;
        max-width: 70%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .slide-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
}
