.home {
    height: 100%;
    width: 100%;
    display: block;
    background-color: #111827;
}

.home-title {
    position: absolute;
    color: white;
    font-size: 2em;
    left: 50%;
    top: 8%;
    transform: translate(-50%, -50%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
    font-weight: 700;
    font-size: 1.3rem;
    text-transform: uppercase;
    text-shadow: 1px 1px #BE00FF;
}

.home-carousel {
    position: relative;
    z-index: 1;
    background-color: #111827;
    border-bottom: #BE00FF 1.5px solid;
}

.slide-1 {
    display: flex;
    max-width: 100%;
    height: auto;
    margin-top: 12%;
}

@media (min-width:1024px) {
    .products-grid-root {
        max-width: 80%;
        height: auto;
        display: flex;
        flex-flow: column wrap;
        margin: 0 auto;
        margin-top: 2%;
        margin-bottom: 10%;
        padding: 15px;
        border-radius: 10px;
        background-color: #f5f5f5;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        overflow: auto;
    }
    .slide-1 {
        width: 80%;
        height: auto;
    }
}
