.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1200;
    overflow-y: hidden !important;
  }
  
  .modal {
    background: #111827;
    border-radius: 12px;
    padding: 25px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 5px 15px #BE00FF;
    animation: fadeIn 0.4s ease-out;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: scale(0.9);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .modal h2 {
    font-size: 22px;
    margin-bottom: 15px;
    color: white;
    border-bottom: 2px solid #BE00FF;
    padding-bottom: 8px;
    text-align: center;
  }
  
  .modal label {
    font-size: 16px;
    color: white;
    display: flex;
    flex-direction: column;
  }
  
  .modal input,select {
    margin-top: 8px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    color: #34495e;
    transition: border-color 0.3s;
  }
  
  .modal input:focus {
    border-color: #BE00FF;
    outline: none;
  }
  
  .modal button {
    background-color: #BE00FF;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-top: 10px;
    width: 50%;
  }
  
  .modal button:hover {
    background-color: #660088;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.25);
  }

  @media (max-width: 1024px) {
    .modal h2 {
      font-size: 18px;
    }
  }